<div class="hero-unit">
  <h2 style="text-align: center">Welcome to Blackjack4fun!</h2>
  <br/>
  <h3>Enter your name to get started.</h3>
  <form action="new_player" method="post">
    <input type="text" name="player_name" />
    <br/>
    <input type="submit" class="btn btn-large btn-primary" value="Start Game" />
  </form>
</div>
