.nav {
  font-size: 1.4em;
  padding-left: 5.0em;
}


body {
  padding-top: 65px;
}



form#hit_form {
  float: left;
  margin-right: 20px;
}

form#stay_form {
  float: left;
}

img.card_image {
  margin: 0px 5px 5px 0px;
}